# Mongodb atlas uri , jwt secret key 
MONGO_URI=
JWT_SECRET_KEY=

#Frontend url
FRONTEND_URL=http://localhost:5173

# LLMS API Key
GROQ_API_KEY=
OPENROUTER_API_KEY=
TAVILY_API_KEY=
GEMINI_API_KEY=
GOOGLE_API_KEY=

# For Vector Data base
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=cortex_documents

# For Oauth Providers 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET = 
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=